Backend/__pycache__
Backend/routers/__pycache__
Backend/schemas/__pycache__
Backend/models/__pycache__
Backend/config/__pycache__
Frontend/node_modules/npx
Frontend/node_modules/.bin
Frontend/package-lock.json
Frontend/package.json